In [46]:
import pandas as pd
import re

df = pd.read_csv('query2.csv',',')
df.head()

           Team_to     Season country_name  sum(transfert.transfert_fee)
0          Arsenal  2000-2001      England                      42600000
1        Liverpool  2000-2001      England                       9000000
2          Chelsea  2000-2001      England                       9400000
3       Sunderland  2000-2001      England                       4700000
4  Manchester City  2000-2001      England                       4500000

In [48]:

df = df[['Team_to','Season','country_name','sum(transfert.transfert_fee)']]
df
print(df.shape)
table =pd.pivot_table(df, values='sum(transfert.transfert_fee)', 
                index=['Team_to','country_name'], 
                    columns='Season')
table.to_csv('transf.csv', encoding='utf-8',)

#df = pd.DataFrame(data) 
  
#df = pd.DataFrame(df_grouped) 
  
# pivoting the dataframe 
#df =df_grouped.pivot(index ='Season', columns ='name') 
  
#df

(1141, 4)